body {
  background-color: #012a60;
  margin: 0px;
}
.text {
  color: white;
  margin-left: 10px;
  font-family: "TT Autonimous", sans-serif;
  font-size: 2.5rem;
  position: fixed;
  top: 35px;
}
.img {
  vertical-align: middle;
}
.navbar ul {
  list-style-type: none;
  background-color: #012a60;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 15%;
}
.navbar a {
  color: white;
  font-family: Lato, Charcoal, sans-serif;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover {
  background-color: #024296;
}
.navbar li {
  float: right;
}
.button {
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  top: -90px;
  right: -1350px;
}
.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: -85px;
  right: -1355px;
}
.button:hover {
  box-shadow: 0px 0px 0px 0px;
  top: -85px;
  right: -1355px;
}

@media (min-width: 768px) {
  .button {
    padding: 0.25em 0.75em;
  }
}
