<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team 7636</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/teamicon.jpg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Home.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/9ab4af5272.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Toxigenesis&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-----
    <script type="module">
      import * as THREE from "https://cdn.skypack.dev/three@0.130.0";
      const scene = new THREE.Scene();
      const camera = new THREE.PerspectiveCamera(
        75,
        window.innerWidth / window.innerHeight,
        0.1,
        1000
      );
      const renderer = new THREE.WebGLRenderer();
      renderer.setSize(window.innerWidth, window.innerHeight);
      document.body.appendChild(renderer.domElement);
      const geometry = new THREE.SphereGeometry(1, 32, 32);
      const material = new THREE.MeshBasicMaterial({ color: 0x0ff00 });
      const sphere = new THREE.Mesh(geometry, material);
      scene.add(sphere);
      function animate() {
        sphere.rotation.x += 0.01;
        sphere.rotation.y += 0.01;
        requestAnimationFrame(animate);
        renderer.renderer(scene, camera);
      }
      animate();
    </script> --->
    <nav>
      <div class="wrapper">
        <div class="logo"><a href="#">FRC 7636 ROBOMANIA</a></div>
        <input type="radio" name="slider" id="menu-btn" />
        <input type="radio" name="slider" id="close-btn" />
        <ul class="nav-links">
          <label for="close-btn" class="btn close-btn"
            ><i class="fas fa-times"></i
          ></label>
          <li><a href="#">Home</a></li>
          <li>
            <a href="#" class="desktop-item">About</a>
            <input type="checkbox" id="showDrop" />
            <label for="showDrop" class="mobile-item">About</label>
            <ul class="drop-menu">
              <li><a href="#">Established</a></li>
              <li><a href="#">Location</a></li>
              <li><a href="#">Sponsor</a></li>
              <li><a href="#">Calender</a></li>
              <li><a href="#">Awards</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-item">Seasons/Robots</a>
            <input type="checkbox" id="showMega" />
            <label for="showMega" class="mobile-item">Seasons/Robots</label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <img
                    src="{{ url_for('static', filename='images/teamicon.jpg') }}"
                    alt=""
                  />
                </div>
                <div class="row">
                  <header>Topics</header>
                  <ul class="mega-links">
                    <li><a href="#">2024 Seasons "Crescendo" Zelus</a></li>
                    <li><a href="#">2023 Seasons "Charged Up" Vali</a></li>
                    <li><a href="#">2022 Seasons "Rapid React" Horipoch</a></li>
                    <li>
                      <a href="#">2021 Seasons "Infinite Recharge" Syzygy</a>
                    </li>
                    <li>
                      <a href="#"
                        >2020 Seasons "Infinite Recharge"(suspend) N/A</a
                      >
                    </li>
                    <li><a href="#">2019 Seasons "Deep Space" N/A</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="desktop-item">Media</a>
            <input type="checkbox" id="showDrop" />
            <label for="showDrop" class="mobile-item">Media</label>
            <ul class="drop-menu">
              <li>
                <a
                  href="https://www.facebook.com/7636.Robomania/?locale=zh_TW"
                  target="_blank"
                  >Facebook</a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/frc7636_robomania?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                  target="_blank"
                  >Instagram</a
                >
              </li>
              <li>
                <a href="https://github.com/FRC7636Robomania" target="_blank"
                  >Github</a
                >
              </li>
              <li>
                <a
                  href="https://www.youtube.com/c/frc7636robomania"
                  target="_blank"
                  >Youtube</a
                >
              </li>
            </ul>
          </li>
          <li><a href="#">Feedback</a></li>
          <li>
            <a href="#">login</a>
          </li>
        </ul>
        <label for="menu-btn" class="btn menu-btn"
          ><i class="fas fa-bars"></i
        ></label>
      </div>
    </nav>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <h1>lol</h1>
    <footer>
      <br />
      <h2>2019 - 2025 TEAM ROBOMANIA</h2>
      <h3 href="frc7636@nehs.tc.edu.tw">gmail/frc7636@nehs.tc.edu.tw</h3>
    </footer>
  </body>
</html>
