<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team 7636</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/teamicon.jpg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Home.css') }}"
    />
    <script
      async
      src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap"
      rel="stylesheet"
    />
    <script src="https://threejs.org/build/three.js"></script>
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.161.0/build/three.module.js",
          "jsm/": "https://cdn.jsdelivr.net/npm/three@0.161.0/examples/jsm/"
        }
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/loaders/GLTFLoader.js"></script>
  </head>
  <body>
    <!-- Existing Navbar -->
    <nav>
      <div class="wrapper">
        <div class="logo">
          <img
            src="{{ url_for('static', filename='images/teamicon3.png') }}"
            class="logo-image"
          />
          <a href="#">FRC TEAM#7636 ROBOMANIA </a>
        </div>

        <input type="radio" name="slider" id="menu-btn" />
        <input type="radio" name="slider" id="close-btn" />
        <ul class="nav-links">
          <label for="close-btn" class="btn close-btn"
            ><i class="fas fa-times"></i
          ></label>
          <li><a href="#">Home</a></li>
          <li>
            <a href="#" class="desktop-item">About</a>
            <input type="checkbox" id="showDrop" />
            <label for="showDrop" class="mobile-item">About</label>
            <ul class="drop-menu">
              <li><a href="#">Established</a></li>
              <li><a href="#">Location</a></li>
              <li><a href="#">Sponsor</a></li>
              <li><a href="#">Calendar</a></li>
              <li><a href="#">Awards</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-item">Seasons/Robots</a>
            <input type="checkbox" id="showMega" />
            <label for="showMega" class="mobile-item">Seasons/Robots</label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <header>Robots</header>
                  <hr />
                  <ul class="mega-links">
                    <li><a href="#">2025 Seasons "Reefscape" Zelus</a></li>
                    <li><a href="#">2024 Seasons "Crescendo" Zelus</a></li>
                    <li><a href="#">2023 Seasons "Charged Up" Vali</a></li>
                    <li><a href="#">2022 Seasons "Rapid React" Horipoch</a></li>
                    <li>
                      <a href="#">2021 Seasons "Infinite Recharge" Syzygy</a>
                    </li>
                    <li>
                      <a href="#"
                        >2020 Seasons "Infinite Recharge"(suspended) N/A</a
                      >
                    </li>
                    <li><a href="#">2019 Seasons "Deep Space" N/A</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="desktop-item">Media</a>
            <input type="checkbox" id="showDrop" />
            <label for="showDrop" class="mobile-item">Media</label>
            <ul class="drop-menu">
              <li>
                <a
                  href="https://www.facebook.com/7636.Robomania/?locale=zh_TW"
                  target="_blank"
                  >Facebook</a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/frc7636_robomania?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                  target="_blank"
                  >Instagram</a
                >
              </li>
              <li>
                <a href="https://github.com/FRC7636Robomania" target="_blank"
                  >Github</a
                >
              </li>
              <li>
                <a
                  href="https://www.youtube.com/c/frc7636robomania"
                  target="_blank"
                  >Youtube</a
                >
              </li>
            </ul>
          </li>
          <li><a href="#">Feedback</a></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn"
          ><i class="fas fa-bars"></i
        ></label>
      </div>
    </nav>

    <main class="main">
      <h1 class="home-title">
        Welcome, <br />We're <span class="home-title-color">FRC Team</span
        ><br />
        7636 - Robomania
      </h1>
      <img
        id="img"
        src="{{ url_for('static', filename='images/Teamate.jpg')}}"
        alt="Description of image"
        style="margin-left: 10px"
      />
      <h1 class="About">About</h1>
      <hr />
      <p id="intro">
        FRC (FIRST Robotics Competition) Team 7636 is a passionate and dedicated
        robotics team that participates in the global FIRST Robotics
        Competition. Team 7636 is made up of students, mentors, and volunteers
        who work together to design, build, and program robots for the annual
        FRC game challenge. Each year, FRC teams are given a set of game rules,
        and teams must build a robot to compete in matches, showcasing their
        problem-solving skills, engineering talent, and collaboration.
      </p>
      <br />
      <iframe
        src="https://www.youtube.com/embed/j5XS8HBb3mo"
        title="2024 FRC全國季後賽 Recap | Taiwan Playoff | FRC#7636 Robomania (4K)"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        autoplay
        muted
        loop
        id="aboutvideo"
      ></iframe>
      <div class="three-container">
        <canvas id="three-canvas">
          <script
            id="model"
            type="module"
            src="{{ url_for('static', filename='js/Home.js') }}"
          ></script>
        </canvas>
      </div>
      <p id="robotdiscription">2024 Season Crescendo robot: ZELUS</p>
      <button>
        <span class="box">Learn more</span>
      </button>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3458.3088975145474!2d120.62542880556788!3d24.230218311704338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d1d68110173%3A0xf1a85cea689e4cac!2sNational%20Experimental%20High%20School%20at%20Central%20Taiwan%20Science%20Park!5e1!3m2!1sen!2stw!4v1737266029074!5m2!1sen!2stw"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        id="map"
      ></iframe>
    </main>

    <footer class="footer">
      <p>&#169; 2025 FRC 7636 Robomania Copyright all rights reserved</p>
    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="main.js"></script>
  </body>
</html>
